@import "./variables";


.image.is-332x500 {
  height: 500px;
  width: 322px;
}

.image.is-60x30 {
  height: 30px;
  width: 60px;
}
.image.is-50x50 {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 1023px) {
  .navbar-menu {
    background: rgba(255, 255, 255, 0.5);
  }
}

.has-background {
  &-green {
    background-color: #00755e !important;
  }
  &-orange {
    background-color: #ee6c02 !important;
  }
  &-lightGray {
    background-color: #939393 !important;
  }
  &lightGreen {
    background-color: rgba(0, 128, 0, 0.4);
  }
}

.is {
  // flexbox direction column
  &-vflex {
    flex-direction: column;
  }

  // flexbox horizontal aligns
  &-around {
    justify-content: space-around !important;
  }
  &-between {
    justify-content: space-between !important;
  }
  &-start {
    justify-content: flex-start !important;
  }
  &-end {
    justify-content: flex-end !important;
  }
  &-center {
    justify-content: center !important;
  }
  &-baseline {
    justify-content: baseline !important;
  }
  &-evenly {
    justify-content: space-evenly !important;
  }

  // flexbox vertical aligns
  &-varound {
    align-items: space-around !important;
  }
  &-vbetween {
    align-items: space-between !important;
  }
  &-vstart {
    align-items: flex-start !important;
  }
  &-vend {
    align-items: flex-end !important;
  }
  &-vcenter {
    align-items: center !important;
  }
  &-vbaseline {
    align-items: baseline !important;
  }
  &-vevenly {
    align-items: space-evenly !important;
  }

  //positions
  &-absolute {
    position: absolute !important;
  }
  &-fixed {
    position: fixed;
  }
}

@media only screen and (max-width: 768px){
  .is {
  // flexbox direction column
  &-vflex-mobile {
    flex-direction: column;
  }

  // flexbox horizontal aligns
  &-around-mobile {
    justify-content: space-around !important;
  }
  &-between-mobile {
    justify-content: space-between !important;
  }
  &-start-mobile {
    justify-content: flex-start !important;
  }
  &-end-mobile {
    justify-content: flex-end !important;
  }
  &-center-mobile {
    justify-content: center !important;
  }
  &-baseline-mobile {
    justify-content: baseline !important;
  }
  &-evenly-mobile {
    justify-content: space-evenly !important;
  }

  // flexbox vertical aligns
  &-varound-mobile {
    align-items: space-around !important;
  }
  &-vbetween-mobile {
    align-items: space-between !important;
  }
  &-vstart-mobile {
    align-items: flex-start !important;
  }
  &-vend-mobile {
    align-items: flex-end !important;
  }
  &-vcenter-mobile {
    align-items: center !important;
  }
  &-vbaseline-mobile {
    align-items: baseline !important;
  }
  &-vevenly-mobile {
    align-items: space-evenly !important;
  }

  //positions
  &-absolute-mobile {
    position: absolute !important;
  }
  &-fixed-mobile {
    position: fixed;
  }
}
}



@media only screen and (min-width: 768px){
  .is {
  // flexbox direction column
  &-vflex-tablet {
    flex-direction: column;
  }

  // flexbox horizontal aligns
  &-around-tablet {
    justify-content: space-around !important;
  }
  &-between-tablet {
    justify-content: space-between !important;
  }
  &-start-tablet {
    justify-content: flex-start !important;
  }
  &-end-tablet {
    justify-content: flex-end !important;
  }
  &-center-tablet {
    justify-content: center !important;
  }
  &-baseline-tablet {
    justify-content: baseline !important;
  }
  &-evenly-tablet {
    justify-content: space-evenly !important;
  }

  // flexbox vertical aligns
  &-varound-tablet {
    align-items: space-around !important;
  }
  &-vbetween-tablet {
    align-items: space-between !important;
  }
  &-vstart-tablet {
    align-items: flex-start !important;
  }
  &-vend-tablet {
    align-items: flex-end !important;
  }
  &-vcenter-tablet {
    align-items: center !important;
  }
  &-vbaseline-tablet {
    align-items: baseline !important;
  }
  &-vevenly-tablet {
    align-items: space-evenly !important;
  }

  //positions
  &-absolute-tablet {
    position: absolute !important;
  }
  &-fixed-tablet {
    position: fixed;
  }
}
}

.w-100 {
  width: 100% !important;
}
.w-75 {
  width: 75% !important;
}
.w-50 {
  width: 50% !important;
}
.w-25 {
  width: 25% !important;
}


@import "~bulma";


.column {
  display: flex;
}
